<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>Mi Primer formulario</h1>

    <form action="/success" method="POST">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre">
            <!--ID se relaciona con el FOR del LABEL -->
            <!--NAME se relaciona con el proceso del formulario -->
        </div>
        <div>
            <label for="email">Correo Electrónico</label>
            <input type="email" name="email" id="email">
        </div>
        <input type="hidden" name="accion" value="inicioSesion">
        <input type="submit" value="Enviar">
    </form>
    <hr>
    <form action="/success" method="POST">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre">
            <!--ID se relaciona con el FOR del LABEL -->
            <!--NAME se relaciona con el proceso del formulario -->
        </div>
        <div>
            <label for="email">Correo Electrónico</label>
            <input type="email" name="email" id="email">
        </div>
        <input type="hidden" name="accion" value="registro">
        <input type="submit" value="Enviar">
    </form>

</body>
</html>